.form {
    width: 200px;
    height: 300px;
    background-color: beige;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.field {
    margin: 10px auto;
    color: darkslateblue;
    font-size: 14px;
}
.btn {
    margin: 10px auto;
    background-color: darkslateblue;
    color: beige;
    font-size: 14px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}